<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <%- include('./includes/title.ejs') %>
</head>
<body>
<!--header-->
<%- include('./includes/header.ejs') %>
<!--banner-->
<div class="banner-wrap" style="background-image: url(../static/imgs/cases/banner.jpg)">
    <h2>相关案例</h2>
</div>
<div class="section-classes">
    <div class="container">
        <ul class="all-class">
            <li class="is-checked"><b>全部</b></li>
            <li><b>桥梁</b></li>
        </ul>

        <div class="list-wrap">
            <% for(var i=0, caseslistarr=data.caseslist; i< caseslistarr.length; i++) { %>
                <div class="list-item">
                    <a href="">
                        <img src="../static/imgs/cases/classes/<%= caseslistarr[i].img %>" />
                        <div class="name"><span><%= caseslistarr[i].name %></span></div>
                        <p><%= caseslistarr[i].brief %></p>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div>
<!--footer-->
<%- include('./includes/footer.ejs') %>
</body>
</html>